{% extends "layout.html" %}

{% block addmodal %}
<div class="modal" id="simplemessage" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" role="button" aria-label="Sulje">
                <span aria-hidden="true">&times;</span>
            </a>
            <h5 class="modal-title">Yksityisviesti henkilölle '{{ user.username }}'</h5>
            <form method="post">
                <div class="form-group">
                    <label for="message">Viesti</label>
                    <textarea class="form-control" id="message" name="message" placeholder="Kirjoita tähän viesti henkilölle {{ user.username }}" maxlength="100" minlength="5"></textarea>

                </div>

                <input type="hidden" value="directmessage" name="type" />
                <input type="hidden" value="{{ csrf_token() }}" name="csrf_token" />
                <input type="hidden" value="{{ user.id }}" name="recipient_id" />

                <div class="text-right">
                    <a class="btn">Näytä koko viestiketju</a>
                    <input class="btn btn-primary" type="submit" value="Lähetä viesti">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ title }}</h1>
    <hr>

    <div class="card mw-full">
        <h2 class="card-title"><i class="fa-solid fa-id-card-clip"></i> Käyttäjäprofiili</h2>

        <span class="badge mb-5">
            <i class="fa-solid fa-person-circle-plus"></i> 0 seuraajaa
        </span>

        <hr>
        
        <div>
            <strong><i class="fa-solid fa-person"></i> Käyttäjänimi</strong><br>{{ user.username }}
            <hr>
            <strong><i class="fa-solid fa-motorcycle"></i> Mopojen lukumäärä</strong><br>{{ mopeds|length }} mopoa
        </div>

        <hr>
        
        <div class="text-right mt-20">
            {# show login btn instead of follow if not logged in #}

            {% if 'object' in session %}

            <!-- load follow status asynchronoysly (javascript) 
                => before load show spinner
            -->
            <div id="followSpin" style="display: block;">
                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>

            <div id="followBtn" style="display: none">
                <a href="#simplemessage" role="button" class="btn">Lähetä yksityisviesti</a>
                <button onclick="setFollow(true)" class="btn btn-primary"><i class="fa-solid fa-person-circle-plus"></i> Seuraa tätä käyttäjää</button>
            </div>

            <div id="unfollowBtn" style="display: none;">
                <a href="#simplemessage" role="button" class="btn">Lähetä yksityisviesti</a>
                <button onclick="setFollow(false)" class="btn btn-danger"><i class="fa-solid fa-person-circle-minus"></i> Älä seuraa</button>
            </div>

            <div id="ownerMsg" style="display: none;">
                <strong>Olet tämä käyttäjä.</strong>
            </div>

            {% else %}

            <a href="{{ url_for('login') }}" class="btn btn-primary"><i class="fa-solid fa-person-circle-plus"></i> Kirjaudu seurataksesi</a>

            {% endif %}
        </div>
    </div>

    <hr>
    
    <div class="card mw-full">
        <h2 class="card-title">Käyttäjän mopot</h2>
        <strong>Tässä näet käyttäjän omistamat mopot.</strong>
        <hr>

        {% if mopeds|length > 0 %}
            <div class="row">
                {% for moped in mopeds %}
                <div class="col">
        
                <div class="w-400 mw-full"> <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
                    <div class="card p-0 border"> <!-- p-0 = padding: 0 -->
                        <img class="mw-full" style="display: block; margin: auto;" src="{{ url_for('moped.mopedimages', name=moped['default_image']) }}"><!-- rounded-top = rounded corners on the top -->
                        
                        
                        <div class="content">
                        <h2 class="content-title">
                            {{ moped['object'].brand }} {{ moped['object'].model }}
                        </h2>
        
                        {% if moped['likes'] != None %}
        
                        <span class="badge"> 
                            <i class="fa fa-heart text-danger mr-5" aria-hidden="true"></i> {{ moped['likes']|length }} tykkäystä
                        </span>
        
                        {% else %}
        
                        <span class="badge"> 
                            <i class="fa fa-heart text-danger mr-5" aria-hidden="true"></i> 0 tykkäystä
                        </span>
        
                        {% endif %}
        
        
                        <!-- comments -->
        
                        {% if moped['comments'] != None %}
        
                        <span class="badge">
                            <i class="fa fa-comments text-primary mr-5" aria-hidden="true"></i> {{ moped['comments']|length }} kommenttia
                        </span>
        
                        {% else %}
        
                        <span class="badge">
                            <i class="fa fa-comments text-primary mr-5" aria-hidden="true"></i> 0 kommenttia
                        </span>
        
                        {% endif %}
            
                        </div>
        
                        <hr>
                    
                        <div>
                        <div class="content">
                            <h2 class="content-title">
                            <i class="fa-solid fa-circle-info"></i> Tietoja moposta
                            </h2>
                            <div>
                            <strong>Merkki</strong>
                            <br />
                            <i class="fa-solid fa-motorcycle"></i> {{ moped['object'].brand }}
                            </div>
                            <hr />
                            <div>
                            <strong>Malli</strong>
                            <br />
                            <i class="fa-solid fa-car-on"></i> {{ moped['object'].model }}
                            </div>
                            <hr />
                            <div>
                            <strong>Vuosimalli</strong>
                            <br />
                            <i class="fa-regular fa-calendar-days"></i> {{ moped['object'].model_year }}
                            </div>
                            <hr>
                            <div>
                            <strong>Omistaja</strong>
                            <br />
                            <i class="fa-solid fa-id-card"></i> <a class="text-light" href="{{ url_for('user.view', username=moped['object'].owner_username) }}">{{ moped['object'].owner_username }}</a>
                            </div>
        
                            <div class="text-right"> <!-- text-right = text-align: right -->
                            <a href="{{ url_for('moped.view', id=moped['object'].id) }}" class="btn">Tsekkaa mopo</a>
                            </div>
        
                        </div>
        
        
                        </div>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        {% else %}

        <p>Käyttäjällä ei ole hallussaan mopoja.</p>

        {% endif %}

</div>

{# add useractions js file #}
<script>
    var followpoint = {{ url_for('user.followpoint')|tojson }};
    var csrf_token = "{{ csrf_token() }}";

    var current_user_id = {{ user.id|tojson }};
</script>
<script src="{{ url_for('user.static', filename='js/useractions.js') }}">screen</script>

{# if user signed in => load follow status #}
{% if 'object' in session %}
<script>
    getFollowStatus();
</script>
{% endif %}
{% endblock %}