{% extends "layout.html" %}

{% block content %}

<div class="container">

    <div class="w-600 mw-full">

        <div class="card p-0">
            <img src="{{ firstfile }}" style="max-width: 600px; min-width: 450px; margin: auto; display: block;" class="img-fluid rounded-top">

            <div class="content">
                <h1 class="content-title">{{ title }}</h1>

                {% if related_data['likes'] != None %}

                <span class="badge"> <!-- ml-5 = margin-left: 0.5rem (5px) -->
                    <i class="fa fa-heart text-danger mr-5" aria-hidden="true"></i> {{ related_data['likes']|length }} tykkäystä
                </span>

                {% else %}

                <span class="badge"> <!-- ml-5 = margin-left: 0.5rem (5px) -->
                    <i class="fa fa-heart text-danger mr-5" aria-hidden="true"></i> 0 tykkäystä
                </span>

                {% endif %}

                {% if related_data['comments'] != None %}

                <span class="badge ml-5">
                    <i class="fa fa-comments text-primary mr-5" aria-hidden="true"></i> {{ related_data['comments']|length }} kommenttia
                </span>

                {% else %}

                <span class="badge ml-5">
                    <i class="fa fa-comments text-primary mr-5" aria-hidden="true"></i> 0 kommenttia
                </span>
                
                {% endif %}

            </div>



            <hr>

            <div class="content">
                <strong>Omistajan kirjoittama kuvaus</strong>
                <br>
                "{{ moped.description }}"
            </div>

            <hr>

            <div class="content">

                <h3 class="content-title">Nippelitietoa</h3>

                <div>
                    <strong>Merkki</strong>
                    <br />
                    <i class="fa-solid fa-motorcycle"></i> {{ moped.brand }}
                  </div>
                  <hr />
                  <div>
                    <strong>Malli</strong>
                    <br />
                    <i class="fa-solid fa-car-on"></i> {{ moped.model }}
                  </div>
                  <hr />
                  <div>
                    <strong>Vuosimalli</strong>
                    <br />
                    <i class="fa-regular fa-calendar-days"></i> {{ moped.model_year }}
                  </div>
                  <hr>
                  <div>
                    <strong>Omistaja</strong>
                    <br />
                    <i class="fa-solid fa-id-card"></i> <a class="text-light" href="">{{ moped.owner_username }}</a>
                </div>
            </div>
        </div>

    </div>

    <div class="w-600 mw-full">
        <div class="card p-0">
            <div class="content">
                <h2 class="content-title">Kommentit moposta</h2>
                <strong>
                    {% if related_data['comments'] != None and related_data['comments']|length == 0 %}
                    
                    <i class="fa-solid fa-money-bill-1-wave"></i> Kukaan ei ole vielä kommentoinut. Kommentoi ensimmäisenä!
                    
                    {% elif related_data['comments'] != None %}

                    <i class="fa fa-comments text-primary mr-5" aria-hidden="true"></i> Tätä mopoa on kommentoitu {{ related_data['comments']|length }} kertaa.
                    Liity mukaan keskusteluun!
                    
                    {% endif %}
                </strong>
                <hr>

                <div class="content">

                    {# Only show comment-form if user is signed in #}
                    {% if 'object' in session %}

                    <form method="post" action="{{ url_for('moped.comment') }}">
                        <div class="form-group">
                            <label for="comment" class="required"><strong><i class="fa-solid fa-square-pen"></i> Kirjoita kommentti</h3></strong></label>
                            <textarea class="form-control" id="comment" placeholder="Kirjoita kommentti." minlength="5" name="comment" required></textarea>
                        </div>

                        {# pass csrf token in form #}
                        <input type="hidden" value="{{ csrf_token() }}" name="csrf_token" />

                        {# pass moped id in form #}
                        <input type="hidden" value="{{ moped.id }}" name="moped_id" />

                        <div class="text-right">
                            <input class="btn btn-primary" value="Julkaise" type="submit" />
                        </div>

                        
                    </form>

                    {% else %}

                    <strong>Kirjaudu sisään!</strong>
                    <br>
                    Muistathan kirjautua sisään, jotta voit kommentoida tätä mopoa.
                    <br>

                    <div class="mt-5">

                        <a class="btn btn-primary" href="{{ url_for('signup') }}">Rekisteröidy</a>
                        <a class="btn ml-5" href="{{ url_for('login') }}">Kirjaudu</a>
                    
                    </div>

                    {% endif %}

                </div>

                
                <hr>


                {% for comment in related_data['comments'] %}
                <div class="card border" id="comment-{{ comment.id }}">
                    <strong><i class="fa-solid fa-id-card"></i> 
                        <a class="text-white" href="{{ url_for('user.view', username=comment.commenter_username) }}"> {{ comment.commenter_username }}</a></strong>
                    <hr>
                    <i>{{ comment.content }}</i>
                </div>
                {% endfor %}
            </div>

            

        </div>
    </div>
</div>

{% endblock %}